html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F5F9FF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    color: #11175E;
}

main {
    width: 100%;
    max-width: 65rem;
    background: #fff;
    border-radius: .8rem;
    padding: 3.2rem 2.4rem;

}

.todo-list-section {
    margin: 0.8rem 0 1.6rem;
    min-height: 5rem;

    & > ul {
        padding-inline-start: 0;
        min-height: 230px;
        overflow: auto;
    }
    & > ul > li {
        list-style-type: none;
        padding: 0.8rem 1.6rem;
        font-size: 1.6rem;
        background-color: #fefefe;
    }   
}
.todo-list-section li:last-child {
    margin-bottom: 0;
    }

.checkbox-label-container {
    display: flex;
    align-items: center;
    justify-content: center;

    & > label {
        cursor: pointer;
    }
    & > input {
        margin-right: .8rem;
        cursor: pointer;
    }
}

#create-todo-section {
    width: 100%;
}

#create-todo-form {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
}
.input-description {
    height: 4.5rem;
    width: 100%;
    font-size: 1.6rem;
    border-radius: .8rem;
    margin-right: 1rem;
    border: 1px solid #EEEEEE;
    padding-left: 1.6rem;
    color: #B1BACB;
}
.input-etiqueta {
    height: 4.5rem;
    width: 100%;
    font-size: 1.6rem;
    border-radius: .8rem;
    border: 1px solid #EEEEEE;
    padding-left: 1.6rem;
    color: #B1BACB;
    margin-right: 2rem;
}
.add-task-btn {
    width: 7rem;
    height: 4.5rem;
    border: 1px;
    border-radius: .4rem;
    background-color: #2D70FD;
    color: white;
    margin-right: 2rem;
    font-size: 2rem; 

    &:hover {
        cursor: pointer;
        opacity: .8;
    }
}  
.task-item {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
}
.task-description {
    flex-grow: 1;
}
.task-details {
    margin-top: 2rem;
}
.task-etiqueta {
    font-size: 0.9em;
    color: #007bff;
    margin-bottom: 5px;
}
.task-date {
    font-size: 0.8em;
    color: #555;
    margin-left: 2rem;
}
#todo-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-label {
    justify-content: flex-end;
    font-size: 18px;
    width: 121px;
    height: 44px;
    padding-left: 24px;
    padding-top: 12px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.hidden-checkbox:checked + .button-label {
    background-color: #0056b3;
}